@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/about-author/about-author.css);
@import url(../blocks/section-title/section-title.css);
@import url(../blocks/footer/footer.css);

.page__search {
  margin: 0 auto;
}

.search {
  background-image: url('../images/header-img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 576px;
}

.search__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
  color: #FFFFFF;
  max-width: 608px;
  margin-bottom: 32px;
}

.search__subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  max-width: 545px;
  margin-top: 32px;
  margin-bottom: 62px;
}

.search__wrapper-form {
  max-width: 608px;
  margin: 80px auto;
}

form {
  position: relative;
}

.input__search {
  width: 81%;
  height: 64px;
  outline: 0;
  border-radius: 100px;
  border: none;
  outline: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #B6BCBF;
  padding-left: 20px;
  background: #FFFFFF;
  border: 1px solid #D1D2D6;
  box-sizing: border-box;
  backdrop-filter: blur(8px);
}

.search__form-button {
  width: 170px;
  height: 64px;
  background: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  border: none;
  outline: none;
  position: absolute;
  right: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  cursor: pointer;
}

.search__form-button:active {
  background: #2A65CC;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
}

.search__form-button:hover {
  background: #347EFF;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
}

/*загрузка*/

.preloader {
  width: 100%;
  background: #F5F6F7;
  position: relative;
  min-height: 282px;
  display: none;
  /*скрывает*/
}

.preloader__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #B6BCBF;
  margin: 0;
  padding-top: 180px;
}

.circle-preloader {
  display: block;
  width: 74px;
  height: 74px;
  border: 2px solid #444;
  border-bottom-color: #888;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 45px;
  margin: auto;
  animation: spin .75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/*ничего не найдено*/

.not-found {
  margin: 0 auto;
  height: 374px;
  background: #F5F6F7;
  padding-top: 80px;
  display: none;
}

.not-found__img {
  background-image: url(../images/not-found.svg);
  background-position: center;
  background-size: cover;
  max-width: 96px;
  min-height: 96px;
  margin: 0 auto;
}

.not-found__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: #1A1B22;
}

.not-found__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #B6BCBF;
  max-width: 300px;
  margin: 15px auto 0 auto;
}

.page__results {
  margin: 0 auto;
  background: #F5F6F7;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.results__cards {
  width: 65%;
  margin: 0 auto;
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  border-radius: 15px;
  max-width: 400px;
  height: 576px;
  display: flex;
  flex-direction: column;
}

.resuts__link-wraapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 65px;
  width: 65%;
}

.results__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  margin: 0 0 0 100px;
}

.results__link-analytics {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1A1B22;
  margin-right: 0;
  text-decoration: none;
}

/*карточка*/

.card {
  background-color: #FFFFFF;
  box-sizing: border-box;
  height: 576px;
  padding-bottom: 24px;
}

.card__img {
  background-image: url('../images/card-img.png');
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 272px;
}

.card__date {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  color: #B6BCBF;
  margin: 20px 0 0 24px;
}

.card__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
  margin: 10px 0 0 24px;
}

.card__paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  margin: 15px 0 0 24px;
}

.card__source {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #B6BCBF;
  margin: auto 0 0;
  margin-left: 24px;
}

.results__button-show-more {
  background: #FFFFFF;
  border-radius: 80px;
  min-height: 64px;
  min-width: 288px;
  margin: 60px auto 0 auto;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
}

.results__button-show-more:active {
  background-color: #FFFFFF;
  opacity: 0.8;
}

/*320 767*/
@media screen and (min-width: 320px) and (max-width: 767px) {
  .search__title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
  }

  .search__subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
}

  .search__wrapper-form {
    padding: 16px;
    margin: 0;
    box-sizing: content-box;
  }
  
  .search__form-button {
    width: 288px;
    position: relative;
    margin-top: 16px;
  }

  .input__search, .search__form-button {
    width: 288px;
  }

  .resuts__link-wraapper {
    flex-direction: column;
  }

  .resuts__link-wraapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 65px;
    width: 92%;
}

.results__link-analytics {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  text-align: left;
}

.results__cards {
  width: 65%;
  margin: 0 auto;
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr;
}

  .results__cards {
    width: 92%;
  }

  .card {
    width: 288px;
    margin: 0 auto;
  }

  .page__results {
    padding-bottom: 44px;
  }
}

/*768 1339*/
@media screen and (min-width: 768px) and (max-width: 1339px) {
  .search__wrapper-form {
    max-width: 454px;
    margin: 50px auto;
  }

  .search {
    min-height: 500px;
}

.search__subtitle {
  margin-bottom: 24px;
}

.results__link-analytics {
  margin-right: 0;
}

.resuts__link-wraapper {
  margin: 0 auto 32px;
  width: 89%;
}

.results__cards {
  width: 89%;
}

/* карточка */
.card__img {
  height: 150px;
}

.card {
  background-color: #fff;
  box-sizing: border-box;
  height: 420px;
  padding-bottom: 16px;
  width: 224px;
}

.card__title {
  font-family: Roboto Slab;
  font-size: 22px;
  line-height: 24px;
  margin: 5px 0 0 16px;
}

.card__paragraph {
  height: 88px;
  overflow: hidden;
  padding-right: 16px;
}
}